<div class="site-contents">
    <div class="login-container contents-width">
        <h3 class="login-text">ログイン</h3>
        <div class="login-forms">
            <input class="login-form" name="email" placeholder="メールアドレス">
            <input class="login-form" name="password" placeholder="パスワード">
            <input class="login-btn" type="submit" value="ログイン">
            <%= link_to "新規登録はこちら","/sign_up" %>
    </div>
    </div>
</div>