<div class="site-contents">
  <div class="account-container contents-width">
    <h2 class="account-text">アカウント</h2>
      <div class="account-info">
        <table>
        <tr class="account-name">
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr class="account-email">
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr class="account-password">
        <th>パスワード</th>
        <td><%= @user.password %></td>
        </tr>
        </table>
      </div>
      <p><%= link_to "編集","/users/#{@user.id}/edit"%></p>
  </div>
</div>

